<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:display="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/css/courseSchedule.css">


</head>
<div>
    <div class="content">
        <div class="grid-container"></div>
        <div class="cohorts">
            <label for="cohorts2Plan" class=""><h3>Rooster voor</h3></label>
            <div class="">
                <select class="" id="cohorts2Plan" name="cohorts2Plan" style="width: 35em;"></select>
            </div>
        </div>

        <div class="subjects">
            <label for="vakkenCohort" class=""><h3>Vakken om in te roosteren</h3></label>
            <div class="">
                <select class="" id="vakkenCohort" name="vakkenCohort" required multiple="multiple" size="7"
                        style="width: 250px"/>
            </div>
        </div>
    </div>
</div>
<!-- zonder deze code werkt de view niet naar behoren. -->
<span style="display: none">
    <div class="subjectList" style="display: none" >
        <form action="#" style="display: none">
<!--            <input type="submit" th:onclick="" value="<" id="remove" style="display: none"/>-->
            <select id="selectedSubject" name="selectedSubject" required multiple="multiple" size="7" style="width: 250px">
                <option th:each="subject: ${subjects}" th:value="${subject.subjectId}">

                </option>
            </select>
       </form>
    </div>
</span>
<!--      einde code -->
<br><br>
        <h3>Geeft het vakkenrooster</h3><br>
        <div class="grid-container1">
            <!--            todo tonen in overzicht container2-->
            <!--            todo herhalingen met dropdown-->
            <!--            todo hele column voor geselecteerde data invullen "onclick"-->
<!--            todo nog aantal in tevulle workshops geven-->
                <div class="grid-item">datum</div>
                <div class="grid-item">ochtend</div>
                <div class="grid-item">middag</div>
                <div class="grid-item">avond</div>
                <div class="grid-item">opslaan</div>
                <div class="grid-item"><span id="workshops" style="display: block" value="workshops"></span> </div>
        </div>
            <div class="grid-container1" id="regelPerLes">
<!--Let op: dit is geen lege <div>. Op de plek worden in de DOM regels voor het vakkenrooster geplaatst-->
            </div>
</div>

<script>
    var cohortName;
    var subject;
    var dateLocal;
    var subjectName;
    var date;
    var partOfDay;
    var status = "";
    var workshopExists=false;
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/cohortsToPlan",
            contentType: "application/json; charset-utf-8",
            dataType: "json",
            data: "{}",
            success: function (response) {
                $("#cohorts2Plan").empty();
                $("#cohorts2Plan").append('<option value="-1">Welke cohort moet gepland worden?</option>')
                $.each(response, function (i, item) {
                    $("#cohorts2Plan").append('<option value="">' + response[i].cohortName + '</option>');
                });
            }
        });
    });

    $("#cohorts2Plan").on("change", function () {
        var selectedText = $(this).find(':selected').text();
        cohortName = selectedText;
        payload = JSON.stringify({cohortName: selectedText});
        $.ajax({
            type: 'POST',
            url: '/vakkenCohort',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: payload
        }).done(function (response) {
            var n = 1;
            $("#vakkenCohort").empty();
            $.each(response, function (i, item) {
                $("#vakkenCohort").append('<option value="">' + response[i].subjectName + '</option>');
            });
        })
    });
    $("#vakkenCohort").on("change", function () {
        //show at the view the number of the maximum courseSchedule possibilities
        var selectedText = $(this).find(':selected').text();
        subject = selectedText;
        payload = JSON.stringify({subjectName: selectedText});
        $.ajax({
            type: 'POST',
            url: '/aantalDagen',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: payload
        }).done(function (response) {
            var days = response;
            var n = 1;
            $("#regelPerLes").empty();
            $.each(days, function (i, item) {
                n = (i + 1) * 10;
                $("#regelPerLes").append('<div class="grid-item"><input type="date" class="largerText"  name="date" id="' + n + '" onchange="checkDate(event,id)"></div>');
                n++;
                $("#regelPerLes").append('<div class="grid-item"><input type="checkbox" class="largerCheckbox" name="dayPart" style="display:none" onclick="showStore(id)" id="' + n + '"></div> ');
                n++;
                $("#regelPerLes").append('<div class="grid-item"><input type="checkbox" class="largerCheckbox" name="dayPart" style="display:none" onclick="showStore(id)" id="' + n + '"></div> ');
                n++;
                $("#regelPerLes").append('<div class="grid-item"><input type="checkbox" class="largerCheckbox" name="dayPart" style="display:none" onclick="showStore(id)" id="' + n + '"></div> ');
                n++;
                $("#regelPerLes").append('<div class="grid-item"><input type="checkbox" class="largerCheckbox" name="store" id="' + n + '" style="display:none" onclick="storeCourse(id)"></div> ');
                n++;
                o=n+1
                p=o+1;
                q=p+1
                $("#regelPerLes").append('<div class="grid-item">   <span class="berichten" type="text" id="' + n + '" style="display:none">opgeslagen</span>' +
                    '                                               <span class="berichten" type="text" id="' + o + '" style="display:none">geef minimaal 1 dagdeel op</span>' +
                    '                                               <span class="berichten" type="text" id="' + p + '" style="display:none">op deze dag zijn geen onderwijs activiteiten</span>' +
                    '                                               <span class="berichten" type="text" id="' + q + '" style="display:none">bestaat al, niet opgeslagen</span></div> ');
            });
        })
    });
</script>

<script>
    function storeCourse(id) {
        //store the courseSchedule in the database
        checkWorkshop();
        if ($("input[type=checkbox][" + elementContent(id, 3) + "]:checked").val() == "on") {
            partOfDay = "OCHTEND";
            if (!workshopExists)storeCourseService(id);
        }
        ;
        if ($("input[type=checkbox][" + elementContent(id, 2) + "]:checked").val() == 'on') {
            partOfDay = "MIDDAG";
            if (!workshopExists)storeCourseService(id);
        }
        ;
        if ($("input[type=checkbox][" + elementContent(id, 1) + "]:checked").val() == "on") {
            partOfDay = "AVOND";
            if (!workshopExists)storeCourseService(id);
        }
        ;
        if (($("input[type=checkbox][" + elementContent(id, 3) + "]:checked").val() != "on")&&
        ($("input[type=checkbox][" + elementContent(id, 2) + "]:checked").val() != 'on')&&
        ($("input[type=checkbox][" + elementContent(id, 1) + "]:checked").val() != "on")){
            document.getElementById(id).checked = false;
            var teller = (parseInt(id) + 2).toString();
            document.getElementById(teller).style.display = "block";


    }
    }
</script>
<script>
    function storeCourseService(id) {
        // the course is transferred to the controller
        // and the status of insert/updated is managed.
        date = dateLocal;
        subjectName = subject;
        var course = {cohortName, subjectName, date, partOfDay, status};
        var payload = JSON.stringify(course);
        $.ajax({
            type: 'POST',
            url: '/storeCourse',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: payload
        }).done(function (response) {
            if (response["exists"]) {
                //the courseScheduel is stored in the database
                $(".berichten").hide();
                var teller = (parseInt(id) + 1).toString();
                document.getElementById(teller).style.display = "block";
            //    todo aantal workshops
            } else{
                // not stored presummable because the schedule allready was in the database
                $(".berichten").hide();
                var teller = (parseInt(id) + 4).toString();
                document.getElementById(teller).style.display = "block";
            }
        });
    }
</script>

<script>
    function show(id, view) {
        //show ("block" or not show ("none") the checkboxes
        var see = view ? 'block' : 'none';
        var teller = (parseInt(id) + 1).toString();
        document.getElementById(teller).style.display = see;//morgen
        var teller = (parseInt(id) + 2).toString();
        document.getElementById(teller).style.display = see;//middag
        var teller = (parseInt(id) + 3).toString();
        document.getElementById(teller).style.display = see;//avond
        var teller = (parseInt(id) + 4).toString();
        document.getElementById(teller).style.display = see;//opslaan
    }
</script>

<script>
    function checkWorkshop(){
        var date = dateLocal;
        var desc = 'vakantie';
        payload = JSON.stringify({date, desc});
        if (dateLocal != '') {
            $.ajax({
                type: 'POST',
                url: '/plannedWorkshop',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: payload
            }).done(function (response) {
                if (response["exists"]) {
                    //on the selected date there are workshops (at least 1)
                    workshopExists=true;
                } else {
                    //no workshop found at the date
                    workshopExists=false;
                }

    })}};

</script>

<script>
    function checkDate(event,id) {
        dateLocal = event.target.value;
        var view;
        if (dateLocal != '') {
            view = true
        }
        ;
        if (dateLocal == '') {
            view = false
        }
        ;
        var date = dateLocal;
        var desc = 'vakantie';
        show(id, view);
        payload = JSON.stringify({date, desc});
        if (dateLocal != '') {
            $.ajax({
                type: 'POST',
                url: '/checkDate',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: payload
            }).done(function (response) {
                if (response["exists"]) {
                    //the selected date is present in "vakantierooster"
                    view = !response["exists"];
                    show(id, view);
                    $(".berichten").hide();
                    var teller = (parseInt(id) + 7).toString();
                    document.getElementById(teller).style.display = "block";
                } else {
                    //the selected is not a holiday
                    view = true;
                    show(id, view);
                    var teller = (parseInt(id) + 7).toString();
                    document.getElementById(teller).style.display = "none";
                    $.ajax({
                        type: 'POST',
                        url: '/plannedWorkshop',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: payload
                    }).done(function (response) {
                        if (response["exists"]) {
                            //on the selected date there are workshops (at least 1)
                            var teller = (parseInt(id) + 1).toString();
                            {if (response["morgen"]) {document.getElementById(teller).style.display = "none";}}
                            var teller = (parseInt(id) + 2).toString();
                            {if (response["middag"]){document.getElementById(teller).style.display = "none";}}
                            var teller = (parseInt(id) + 3).toString();
                            {if (response["avond"]){document.getElementById(teller).style.display = "none";}}
                            var teller = (parseInt(id) + 4).toString();
                            if (response["morgen"]&&response["middag"]&&response["avond"]){
                            document.getElementById(teller).style.display = "none"}
                        } else {
                            //no workshop found at the date
                            view=true;
                            show(id,view);
                        }
                    })
                }
            });
        }
    }

</script>

<script>
    function elementContent(id,i){
        var elementId=parseInt(id)-i;
        var elementIdString=elementId.toString();
        return "id='"+elementIdString+"'";
    }
</script>
</body>
</html>