
.content {
    max-width: 500px;
    margin: auto;
}
.contentData{
    max-width: 65em;
    margin: auto;
}
.grid-containerData{
    display: grid;
    grid-template-columns: 10em 10em 10em;
    grid-template-rows: auto;
    justify-content: space-evenly;
    background-color: inherit;
    padding: 0px;
    width: 33em;
}

.grid-container {
    display: grid;
    grid-template-columns: 40em 40em;
    justify-content: space-evenly;
    background-color: inherit;
    padding: 0px;
    width: 82em;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 7em 7em 7em 7em 7em 7em 7em;
    background-color: inherit;
    padding: 0px;
    justify-content: space-evenly;
    width: 50em;
}

.grid-container2 {
    display: grid;
    grid-template-rows: 5em 5em 5em;
    grid-template-columns: 10em 10em
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: inherit;
    text-align: center;
}
.selectionData{
    width: 20em;
}

.regelsPerLes {
    width: 31em;
}

input.largerCheckbox {
    width: 110%;
    height: 110%;
}

input.largerText {
    width: 110%;
    height: 110%;
    font-size: 110%;
}
.input.selectData{
    width: 19em;
    font-size: 110%;
}
