

button {
    background-color: #fc7170;
    border: solid blue 2px;
}

.card {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#header {
    background: #191970;
    margin: 5px 0 40px 0;
    color: white;
}

body {
    font-family: 'Raleway', sans-serif;
}

ul{
    list-style-type: none;
}

.container {
    margin-top: 65px;
}


.evenement {

    width: 100%;
    float: left;
    height: 225px;
}

#containerVakantie {
    background-color: #c6ebfe;
}