
.content {
    margin-top: 80px;
}

#gallery {
    margin-top: 50px;
}

div#buttons {
    width: 30%;
    float: left;
}

.card-text{
    font-size: 14px;
}

#containerContent {
    margin-top: 100px;
}

#boxContent {

}

.container-description {
    border: 2px solid lightgrey;
    margin-top: 10px;
}

#love {
    color: red;
    background-color: white;
    border-style: none;
    height: 50px;
    width: 50px;
    padding-left: 20px;
    margin-left: 50px;
}

.job-header-bar {
    margin-left: 50%;
}



ul {
    list-style-type: none;
}

#task_db {
    background-color: yellow;
    height: 40px;
    width: 130px;
    text-align: center;
    font-size: 12px;
    border: none;
    display: inline-block;
    margin: 20px;
}

#task_db:hover{
    color: white;
}

.tekst {
    float: left;
    height: auto;
    padding: 10px;
    font-size: 18px;
    text-align: left;
}

h1 {
    font-family: "Amatic SC", cursive;
    font-size: 60px;
    padding: 5px;
    text-align: center;
}

p {
    padding: 5px;
}

h6{
    font-weight: lighter;
    color: grey;
}

h4{
    font-family: "Open Sans", sans-serif;
}

h2{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding-top: 8px;
}

#details {
    font-family: "Amatic SC", cursive;
    font-size: 20px;
    background-color: yellow;
    height: 40px;
    width: 130px;
    text-align: center;
    border: none;
    display: inline-block;
    margin: 20px;
}


