<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>addCourse</title>
</head>
<header th:insert="~{navbar :: header}"></header>


<body>

<div class="container">
    <br>
    <br>
    <br>
    <br>
    <h2 class="text-center">Voeg een vak toe</h2>
    <form action="#" th:object="${attr1}" th:action="@{saveCourse}" method="post" id="saveCourse">
        <table border="1">
            <tr>
                <td><label th:text="Vaknaam" /></td>
                <td><input type="text" th:field="*{courseName}" required title="Vul een vaknaam in"/></td>
            </tr>
            <tr>
                <td><label th:text="Kennisgebied" /></td>
                <td><input type="text" th:field="*{knowledgeField}" required title="Kies een kennisgebied"/></td>
            </tr>
            <tr>
                <td><label th:text="Cohortnummer" /></td>
                <td><input type="number" th:field="*{cohortNumber}" required title="Cohortnummer kan niet lager zijn dan 1"/></td>
            </tr>
            <tr>
                <td><input type="submit" th:onclick="alert ('Het vak is opgeslagen in de database.')" value="Opslaan" /></td>
            </tr>
        </table>

        <footer th:insert="~{footer :: footer}"></footer>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
