<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/genericBQ.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/navbarBQ.css}"/>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>addCourse</title>
</head>
<header th:insert="~{navbarBQ :: header}"></header>


<body>
<!-- content pagina -->

<div class="container">
    <br>
    <br>
    <br>
    <br>
<h2 class="text-center">Voeg een vak toe</h2>
<form action="#" th:object="${attr1}" th:action="@{saveCourse}" method="post" id="saveCourse">
    <table border="1">
        <tr>
            <td><label th:text="Vaknaam" /></td>
            <td><input type="text" th:field="*{courseName}" required title="Vul een vaknaam in"/></td>
        </tr>
        <tr>
            <td><label th:text="Kennisgebied" /></td>
            <td><input type="text" th:field="*{knowledgeField}" required title="Kies een kennisgebied"/></td>
        </tr>
        <tr>
            <td><label th:text="Cohortnummer" /></td>
            <td><input type="number" th:field="*{cohortNumber}" required title="Cohortnummer kan niet lager zijn dan 1"/></td>
        </tr>
<!--        <tr>-->
<!--            <td><label>dropdown test</label></td>-->
<!--            <td><select id="slct2" name="slct2" onclick="populate(s2);"></select></td>-->
<!--        </tr>-->
        <tr>
            <td><input type="submit" th:onclick="alert ('Het vak is opgeslagen in de database.')" value="Opslaan" /></td>
        </tr>
    </table>

    <footer th:insert="~{footer :: footer}"></footer>
</form>
</div>

</body>

</html>