<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/subject.css}"/>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>vakkenbeheer</title>
</head>
<body>

<div th:if="${roleUser.roleName == 'Terminator'}">
    <header th:insert="~{navbar :: header}"></header>
</div>
<div th:if="${roleUser.roleName == 'Docent'}">
    <header th:insert="~{navbarDocent :: header}"></header>
</div>
<div th:if="${roleUser.roleName == 'Administrateur'}">
    <header th:insert="~{navbarAdministrateur :: header}"></header>
</div>
<div th:if="${roleUser.roleName == 'Manager'}">
    <header th:insert="~{navbarManager :: header}"></header>
</div>
<div th:if="${roleUser.roleName == 'Roosteraar'}">
    <header th:insert="~{navbarRoosteraar :: header}"></header>
</div>

<br>
<br>
<div class="container">
    <section id="headerSubject" class="jumbotron text-center">
        <h1> Vakkenbeheer </h1>
    </section>

<h3 class="text-center">Voeg een nieuw vak toe</h3>
<form action="#" th:object="${attr3}" th:action="@{saveSubject}" method="post" id="saveSubject" align="center">
    <div align="center">
    <label th:placeholder="vaknaam"/>Vaknaam
    <input type="text" th:field="*{subjectName}" required title="Vul een vaknaam in"/>
    </div>
    <div align="center">
    <label th:placeholder="uren"/>Aantal uren
    <input type="number" th:field="*{hours}" required title="Vul het aantal uren in" min="1"/>
    </div>
    <div align="center">
    <input type="submit" value="Opslaan" id="addsubjectButton"/>
    </div>
</form>
</div>
<br>

<div class="container" id="lijstVakken" align="center">
    <h3 class="text-center">Verwijder een of meerdere vakken:</h3>

    <table>
        <tr collspan="2">
            <td>
                <form onsubmit="return confirm('Weet u zeker dat u het vak wilt verwijderen?');" class="formvakken" th:object="${subjects}" th:action="@{deleteSubject}" method="post">
                    <select  id="move1" name="subjectName" multiple="multiple" size="7" style="border: none">
                        <option th:each="subject: ${subjects}" th:value="${subject.subjectId}" th:text="${subject.subjectName}"></option>
                    </select><br>
                    <div class = "delete" align="center">
                        <input type="submit" value="Delete" id="deletesubjectButton"/>
                    </div>
                </form>

            </td>
        <tr>
    </table>
</div>
<br>

<footer th:insert="~{footer :: footer}"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/addSubject.js" th:src="@{/js/addSubject.js}"></script>

</body>


</html>