<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/cohort.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/js/cohort.js" th:src="@{/js/cohort.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>AddSubjectsToCohort</title>
</head>
<body>
<header th:insert="~{navbar :: header}"></header>
<div class="container">
    <section id="headerAddSubjects" class="jumbotron text-center">
        <h1>Vakken toevoeg aan cohort</h1>
    </section>
    <div>
        <h4 class="text-center2" align="center">Voeg hier de vakken aan het gekozen Cohort toe:</h4>

        <div class = "select" align="center">

                        <div class="vakkenCohort">
                            <form action="#" th:object="${cohorts}" th:action="@{showSubjects}" method="post">
                                <select name="cohortName" id="cohortList" required style="width: 250px; border-color: lightgray" th:onchange="this.form.submit()">
                                    <option value="">Selecteer een cohort:</option>
                                    <option th:each="coh: ${cohorts}" th:value="${coh.cohortName}" th:text="${coh.cohortName}"></option>
                                </select>
                            </form>
                        </div>

        </div>

        <table align="center">
            <tr collspan="2">
                <td>
                    <div class = "vakkenCohort">
                        <div class="subjectName">Uit te kiezen vakken:</div>
                        <form action="#" th:object="${possibleSubjects}" th:action="@{addSubjects}" method="post">
                            <select  id="subjectName" name="subjectName" required multiple="multiple" size="7" style="width: 250px">
                                <option th:each="subject: ${possibleSubjects}" th:value="${subject.subjectId}" th:text="${subject.subjectName}"></option>
                            </select>
                            <input type="submit" th:onclick="" value=">" id="voegToe"/>
                        </form>
                    </div>
                </td>
                <td>
                    <div class = "vakkenCohort">
                        <div class="selectedSubjectList">Selecteer een of meerdere vakken:</div>
                        <form action="#" th:object="${subjects}" th:action="@{removeSubjects}" method="post">
                            <input type="submit" th:onclick="" value="<" id="remove"/>
                            <select  id="selectedSubjectList" name="selectedSubjectList" required multiple="multiple" size="7" style="width: 250px">
                                <option th:each="subject: ${subjects}" th:value="${subject.subjectId}" th:text="${subject.subjectName}"></option>
                            </select>
                        </form>
                    </div>
                </td>
            <tr>
        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>