<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/avalability.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/genericBQ.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/navbarBQ.css}"/>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
<script type="text/javascript" src="/js/availability.js" th:src="@{/js/availability.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Global Availability</title>
</head>
<header th:insert="~{navbarBQ :: header}"></header>

<body>
<form action="#">
    <div class="container">
        <section id="header" class="jumbotron text-center">
            <h1>Uw wekelijkse beschikbaarheid</h1>
            <p>Geef hieronder per dag aan welke dagdelen u beschikbaar bent</p>
        </section>
        <section>
            <select class="custom-select" id="selectSemester">
                <option selected>Select semester</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </section>

        <section id="availability">
            <table>
                <tr>
                    <th>Select All </th>
                    <th>maandag </th>
                    <th>dinsdag </th>
                    <th>woensdag </th>
                    <th>donderdag </th>
                    <th>vrijdag </th>
                </tr>
                <tr>
                    <th>ochtend </th>
                    <td class="checked">maandagOchtend</td>
                    <td class="checked">dinsdagOchtend</td>
                    <td class="checked">woensdagOchtend</td>
                    <td class="checked">donderdagOchtend</td>
                    <td class="checked">vrijdagOchtend</td>

                </tr>
                <tr>
                    <th>middag </th>
                    <td class="checked">maandagMiddag</td>
                    <td class="checked">dinsdagMiddag</td>
                    <td class="checked">woensdagMiddag</td>
                    <td class="checked">donderdagMiddag</td>
                    <td class="checked">vrijdagMiddag</td>

                </tr>
                <tr>
                    <th>avond </th>
                    <td class="checked">maandagAvond</td>
                    <td class="checked">dinsdagAvond</td>
                    <td class="checked">woensdagAvond</td>
                    <td class="checked">donderdagAvond</td>
                    <td class="checked">vrijdagAvond</td>

                </tr>
            </table>
        </section>
        <section>
            <button id="button" type="button" class="btn btn-success">Submit</button>
        </section>

    </div>
    <footer th:insert="~{footer :: footer}"></footer>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>