<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team1</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>

<body>

<div id="parent">
</div>
<div id="child">
    <img src="https://www.it-omscholing.nl/files/logo.png" width="75" height="60" alt="logo Make IT Work" align="left" class="logo">
    <div class="button-wrapper" >
        <div style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px">
        <form th:action="@{/login}">
<!--            <a href="/login" class="custom-pill-button red">Login<span class="arrow-right"></span></a>-->
            <input type="submit" th:value="Inloggen" class="custom-pill-button" style="background-color: #fc7170; color: #fff !important; height: 40px;
    width: 130px; text-align: center; border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px; font-family: FuturaBT-Medium; letter-spacing: 1.2px; font-size: 12px">

</form>
    </div>
</div>
</div>
</body>
</html>