<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mytasks.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Jouw sollicitaties</title>
</head>
<div th:if="${roleUser.roleName == 'Terminator'}">
    <header th:insert="~{navbar :: header}"></header>
</div>
<div th:if="${roleUser.roleName == 'Docent'}">
    <header th:insert="~{navbarDocent :: header}"></header>
</div>
<div th:if="${roleUser.roleName == 'Administrateur'}">
    <header th:insert="~{navbarAdministrateur :: header}"></header>
</div>
<div th:if="${roleUser.roleName == 'Manager'}">
    <header th:insert="~{navbarManager :: header}"></header>
</div>
<div th:if="${roleUser.roleName == 'Roosteraar'}">
    <header th:insert="~{navbarRoosteraar :: header}"></header>
</div>
<body>
<div class="contentTable">
    <div class="container">
        <div id="h1" class="jumbotron text-center">
            <h1 class="">Mijn Sollicitaties</h1>
        </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Locatie</th>
                        <th>Startdatum</th>
                        <th>Einddatum</th>
                        <th>Uren per week</th>
                        <th>Status</th>
                        <th>Verwijderen</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${myTasks.isEmpty()}">
                        <td class="ST" colspan="6" th:align="center">Je hebt momenteel geen sollicitaties.</td>
                    </tr>
                    <tr th:each="task : ${myTasks}">
                    <form action="#" th:action="@{/teacher/myTasks}"  th:object="${myTasks}" method="get">
                        <td th:text="${task.titel}"></td>
                        <td th:text="${task.locatie}"></td>
                        <td th:text="${task.startdatum}"></td>
                        <td th:text="${task.einddatum}"></td>
                        <td th:text="${task.getUren()}"></td>
                        <td th:class="${task.getTaskStatus()}" th:text="${task.getTaskStatus()}"></td>
                    </form>
                    <form action="#" th:action="@{/teacher/taskDelete/{taskId}}" th:object="${myTasks}" method="post">
<!--                        <td th:if="${task.getTaskStatus().APPROVED}">-->
<!--                            </td>-->
                        <td>
                            <button type="submit" id="dislike" class="love"><i class="far fa-trash-alt" style="font-size: 1.4em;"></i>
                        <input type="hidden" id="taskId" name="taskId" th:value="${task.id}"></button></td>
                    </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>



<script>

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i =0; i < acc.length; i++){
        acc[i].addEventListener("click", function(){
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }

    function f() {
        $('#dislike').hide();

    }

    on('click', function () {
     if($('td').hasClass('APPROVED')) {
         alert("you can not delete this")
     }
     });


    // var status = document.getElementById("status").innerText;
    // if(document.getElementById("status").innerText = "APPROVED") {
    //     document.getElementById("dislike").style.visibility = "hidden";
    // }
    // };

</script>
</body>
</html>

