<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<xmlns:th="http://www.springframework.org/schema/data/jaxb"-->
<!--      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"-->
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--menu aan bovenzijde pagina-->
<div th:fragment="header" th:align="right">
    <ul>
        <li><a href="/home">Home</a> </li>
        <li><a href="/globalAvalability">Beschikbaarheid</a></li>
        <li><a href="/addUser">Nieuwe gebruiker</a></li>
        <li><a href="/teacher/preference">Voorkeur</a></li>
        <li><a href="/taskOverview">Vacatures</a></li>
    </ul>
    <div class="logo" th:align="left">
        <img src="https://www.it-omscholing.nl/files/logo.png" class="logo" alt="logo Make IT Work">
    </div>

    </div>
</body>
</html>