<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset ="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto:300,400,500">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <head>
        <meta charset="UTF-8">
    </head>

<body>
<div th:fragment="header" th:align="right">

    <nav class="navbar navbar-expand-md navbar-light bg-secondary fixed-top">
        <a class="navbar-brand" id="trans" href="/home">...................
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#demo-navbar" aria-controls="demo-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="demo-navbar">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a href="/home" class="btn btn-outline-light text-light">HOME</a>
                </li>
                <li class="nav-item active">
                    <a href="/scheduler" class="nav-link text-light">ROOSTER</a>
                </li>
<!--                <li class="nav-item active">-->
<!--                    <a href="/teacher/taskOverview" class="nav-link text-light">VACATURES</a>-->
<!--                </li>-->
<!--                <li class="nav-item active">-->
<!--                    <a href="/teacher/preference" class="nav-link text-light">VAKKEN</a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        BESCHIKBAARHEID-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="programmingDropdown">-->
<!--                        <a class="dropdown-item" href="https://youtu.be/iep9EJ9H1aU?t=32">WILLY!</a>-->
<!--                        <a class="dropdown-item" href="/availability/availabilityForm">Globaal</a>-->
<!--                        <a class="dropdown-item" href="/availability/incidentsForm">Incidenten</a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        VAK EN COHORT-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="programmingDropdown">-->
<!--                        <a class="dropdown-item" href="/manager/vak">Vakkenbeheer</a>-->
<!--                        <a class="dropdown-item" href="/manager/cohort">Cohortbeheer</a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        GEBRUIKER-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="programmingDropdown">-->
<!--                        <a class="dropdown-item" href="/userForm">Gebruiker onderhoud</a>-->
<!--&lt;!&ndash;                        <a class="dropdown-item" href="#">Nog maken 2?</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="dropdown-item" href="#">Nog maken 3?</a>&ndash;&gt;-->
<!--                    </div>-->
<!--                </li>-->
                <li class="nav-item dropdown" id="LogUit">
                    <a href="/login" class="btn btn-success" type="button" aria-haspopup="true" aria-expanded="false">
                        Log Uit
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>

