<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/newTask.css}"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Nieuwe Vacature</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
</head>

<body>

<div class ="container">

    <div id = "h1" class="jumbotron text-center">
        <h1>Voeg een nieuwe vacature toe</h1>
    </div>

    <div class = "wrapper">
        <form action ="#" th:action="@{/manager/createNewTask}" th:object="${createTask}" id="taskForm" method="post" th:align="center">


        <div class="form-group row">
            <label for ="titel" class="col-sm-2 col-form-label">Titel</label>
            <div class="col-sm-10">
                <input type="text" id="titel" class="titel" th:field="*{titel}" placeholder=Titel required title = "Vul een titel in">
            </div>
        </div>

        <div class="form-group row" id ="introbox">
            <label for="intro" class="col-sm-2 col-form-label">Beschrijving</label>
                <div class="col-sm-10">
                    <input type="text" id="intro" class="intro" th:field="*{beschrijving}" placeholder = "Korte intro"
                           required intro = "Beschrijf kort waar de vacature over gaat">
                </div>
        </div>

        <div class ="form-group row">
            <label for="uren" class="col-sm-2 col-form-label">Aantal uren:</label>
                <div class="col-sm-10">
                    <input type="text" id = "uren" th:field="*{uren}" required placeholder="Uren">
                </div>
        </div>

        <div class ="form-group row">
            <label for ="locatie" class="col-sm-2 col-form-label">Locatie</label>
                <div class="col-sm-10">
                    <input type="text" id="locatie" th:field="*{locatie}" required placeholder="Locatie">
                </div>
        </div>

<!--    <label for ="sluitdatum">Sluitingsdatum:</label>-->
<!--    <input type="date" id="sluitdatum" th:field="*{sluitdatum}" required>-->

        <div class ="form-group row">
            <label for ="startdatum" class="col-sm-2 col-form-label">Startdatum:</label>
                <div class="col-sm-10">
                    <input type ="text" id="startdatum" required th:field="*{startdatum}" placeholder="Begindatum">
                </div>
        </div>

<!--    <label for="einddatum"> Einddatum:</label>-->
<!--    <input type="date" id="einddatum" required th:field="*{einddatum}">-->

        <div class ="form-group row">
            <label for="beschrijvingLang" class="col-sm-2 col-form-label">Beschrijving:</label>
                <div class="col-sm-10">
                    <input type="text" id="beschrijvingLang" th:field = "*{beschrijvingLang}" required placeholder="Beschrijving" height="100px"></textarea><br>
                </div>
        </div>


            <div class="col-sm-10">
                <button type="submit" id="opslaan" name="opslaan">Sla op</button>
                <span style="display: none;"
                      id="successMsg"> De vacature is opgeslagen! </span>
                <button type="reset" id="resetForm" name="resetForm"  onclick="textFunction()">Opnieuw</button>
            </div>


</form>


    <footer th:insert="~{footer :: footer}"></footer>

<script>
    $(document).ready(
        function() {
            $("#taskForm").submit(function () {
                event.preventDefault();
                ajaxPost();
            });

            function ajaxPost() {

                var payload = {
                    titel: $("#titel").val(),
                    beschrijving: $("#intro").val(),
                    uren: $("#uren").val(),
                    locatie: $("#locatie").val(),
                    // sluitdatum: $("#sluitdatum").val(),
                    // einddatum: $("#einddatum").val(),
                    startdatum: $("#startdatum").val(),
                    beschrijvingLang: $("#beschrijvingLang").val()
                }
console.log(payload);
                $.ajax({
                    type: 'POST',
                    url: '/manager/createNewTask',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(payload),
                }).done(function (response) {
                    if (response["exists"]) {
                        if (response["exists"]) {
                            $("#opslaan").text("opgeslagen")
                        } else {
                            $("#opslaan").text("niet gelukt")
                        }
                    }
                })
            }
        });


</script>
<script>
    function textFunction() {
        document.getElementById('taskForm').reset();
        $("#opslaan").text("Opslaan gegevens")
    }
</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </div>
</div>
</body>
</html>