<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nieuwe Vacature</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>

<body>
<div><h1>Voeg een nieuwe vacature toe</h1></div>

<form action ="#" th:action="@{/manager/createNewTask}" th:object="${createTask}" id="taskForm" method="post">

    <label th:placeholder="Titel"/>Titel:
    <input type="text" id="titel" class="titel" th:field="*{titel}" required title = "Vul een titel in">

    <label th:placeholder="Beschrijving" for="intro"/>Intro:
    <input type="text" id="intro" class="intro" th:field="*{beschrijving}" required intro = "Beschrijf kort waar de vacature over gaat">

    <label for="uren">Aantal uren:</label>
    <input type="text" id = "uren" th:field="*{uren}" required>

    <label for="locatie">Locatie:</label>
    <input type="text" id="locatie" th:field="*{locatie}" required>

    <label for ="sluitdatum">Sluitingsdatum:</label>
    <input type="date" id="sluitdatum" th:field="*{sluitdatum}" required>

    <label for ="startdatum">Startdatum:</label>
    <input type ="text" id="startdatum" required th:field="*{startdatum}">

    <label for="einddatum"> Einddatum:</label>
    <input type="date" id="einddatum" required th:field="*{einddatum}">

    <label for="beschrijving">Beschrijving:</label><br>
    <input type="text" id="beschrijving" th:field = "*{beschrijvingLang}" required></textarea><br>
    <button type="submit" id="opslaan" name="opslaan">Sla op</button>
    <button type="reset" id="resetForm" name="resetForm" >Opnieuw</button>
<!--    onclick="textFunction()"-->

<!--</form>    -->


    <footer th:insert="~{footer :: footer}"></footer>

<script>
    $("#taskForm").submit(function () {
        var payload = JSON.stringify({
            id:"",
            titel: $("#titel").val(),
            beschrijving: $("#intro").val(),
            uren: $("#uren").val(),
            locatie: $("#locatie").val(),
            sluitdatum: $("#deadline").val(),
            einddatum: $("#deadline").val(),
            startdatum: $("#deadline").val(),
            beschrijvinglang: $("#beschrijving").val()
        });
        $.ajax({
            type: 'POST',
            url: "/manager/createNewTask",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: payload
        }).done(function (response) {
            if (response["exists"]) {
                if (response["exists"]) {
                    $("#opslaan").text("opgeslagen")
                } else {
                    $("#opslaan").text("niet gelukt")
                }
            }
        })
        event.preventDefault();
    })
</script>
<script>
    function textFunction() {
        document.getElementById('taskForm').reset();
        $("#opslaan").text("Opslaan gegevens")
    }
</script>
</body>
</html>