<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nieuwe Vacature</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<div th:if="${roleUser.roleName == 'Docent'}">
    <header th:insert="~{navbarDocent :: header}"></header>
</div>
<div th:if="${roleUser.roleName == 'Administrateur'}">
    <header th:insert="~{navbarAdministrateur :: header}"></header>
</div>
<div th:if="${roleUser.roleName == 'Manager'}">
    <header th:insert="~{navbarManager :: header}"></header>
</div>
<div th:if="${roleUser.roleName == 'Roosteraar'}">
    <header th:insert="~{navbarRoosteraar :: header}"></header>
</div>
<body>
<div><h1>Voeg een nieuwe vacature toe</h1></div>

<form id="taskForm" action="/addTask" method="POST">
    <label for="Titel">Titel:</label>
    <input type="text" id="titel" class="titel">
    <label for="intro">Intro:</label>
    <input type="text" id="intro">
    <label for="uren">Aantal uren:</label>
    <input type="text" id = "uren" >
    <label for="locatie">Locatie:</label>
    <input type="text" id="locatie">
    <label for ="deadline">Sluitingsdatum:</label>
    <input type="date" id="deadline"><br>
    <label for="beschrijving">Beschrijving:</label><br>
    <textarea rows 20 cols 800 id="beschrijving"></textarea><br>
    <button type="submit" id="opslaan" name="opslaan">Sla op</button>
    <button type="reset" id="resetForm" name="resetForm" onclick="textFunction()">Opnieuw</button>

    <footer th:insert="~{footer :: footer}"></footer>
</form>
<script>
    $("#taskForm").submit(function () {
        var payload = JSON.stringify({
            id:"",
            titel: $("#titel").val(),
            beschrijving: $("#intro").val(),
            uren: $("#uren").val(),
            locatie: $("#locatie").val(),
            sluitdatum: $("#deadline").val(),
            einddatum: $("#deadline").val(),
            startdatum: $("#deadline").val(),
            beschrijvinglang: $("#beschrijving").val()
        });
        $.ajax({
            type: 'POST',
            url: "/addTask",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: payload
        }).done(function (response) {
            if (response["exists"]) {
                if (response["exists"]) {
                    $("#opslaan").text("opgeslagen")
                } else {
                    $("#opslaan").text("niet gelukt")
                }
            }
        })
        event.preventDefault();
    })
</script>
<script>
    function textFunction() {
        document.getElementById('taskForm').reset();
        $("#opslaan").text("Opslaan gegevens")
    }
</script>
</body>
</html>