<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
<script type="text/javascript" src="/js/scheduler.js" th:src="@{/js/scheduler.js}"></script>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Roosterbeheer</title>
</head>
<body>

<div th:insert="~{navbar :: header}"></div>
<br>
<br>
<br>
<br>
<div class="container">
    <section id="header" class="jumbotron text-center">
        <h1>Roosterbeheer</h1>
    </section>


    <!--select cohort-->
    <div class = "select" align="center">

        <div >
            <form action="#" th:object="${cohorts}" th:action="@{showSubjects}" method="post">
                <select name="cohortName" id="cohortList" required style="width: 250px; border-color: lightgray" th:onchange="this.form.submit()">
                    <option value="">Selecteer een cohort:</option>
                    <option th:each="coh: ${cohorts}" th:value="${coh.cohortName}" th:text="${coh.cohortName}"></option>
                </select>
            </form>
        </div>



        <!--    select weeknummer-->
        <div >
            <form action="#" th:object="${cohorts}" th:action="@{showWeeks}" method="post">
                <select name="weekNumber" id="weekList" required style="width: 250px; border-color: lightgray" th:onchange="this.form.submit()">
                    <option value="">Selecteer een week:</option>
                    <option th:each="co: ${cohorts}" th:value="${co.weekId}" th:text="${co.weekNumber}"></option>
                </select>
            </form>
        </div>

    </div>

    <!--    Table om docenten aan vakken toe te voegen-->
    <div>
        <form action="#" th:object="${currentSubject}" th:action="@{addCurrentSubject}"
              th:object="${teacherForm}" th:action="@{postTeacherToSchedule}" method="post" id = "teacherForm">
            <table id = "docentTabel">
                <tr>
                    <th></th>
                    <th>maandag</th>
                    <th>dinsdag</th>
                    <th>woensdag</th>
                    <th>donderdag</th>
                    <th>vrijdag</th>
                </tr>

                <tr>
                    <th>
                        <p>Ochtend</p>
                        <p>9:00-12:30</p>
                    </th>
                    <td >
                        <div name="maandagOchtendVak"></div>
                        <select name="maandagOchtendDocent" required>
                        </select>
                    </td>
                    <td >
                        <div name="dinsdagOchtendVak"></div>
                        <select name="dinsdagOchtendDocent" required>
                        </select>
                    </td>
                    <td>
                        <div name="woensdagOchtendVak" ></div>
                        <select name="woensdagOchtendDocent" required>
                        </select>
                    </td>
                    <td >
                        <div name="donderdagOchtendVak"></div>
                        <select name="donderdagOchtendDocent" required>
                        </select>
                    </td>
                    <td>
                        <div name="vrijdagOchtendVak"></div>
                        <select name="vrijdagOchtendDocent" required>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>
                        <p>Middag</p>
                        <p>13:00-17:30</p>
                    </th>
                    <td>
                        <div name="maandagMiddagVak" th: ></div>
                        <select name="maandagMiddagDocent" required>
                        </select>
                    </td>
                    <td>
                        <div name="dinsdagMiddagVak" th: ></div>
                        <select name="dinsdagMiddagDocent" required>
                        </select>
                    </td>
                    <td>
                        <div name="woensdagMiddagVak" th: ></div>
                        <select name="woensdagMiddagDocent" required>
                        </select>
                    </td>
                    <td>
                        <div name="donderdagMiddagVak" th: ></div>
                        <select name="donderdagMiddagDocent" required>
                        </select>
                    </td>
                    <td >
                        <div name="vrijdagMiddagVak" th: ></div>
                        <select name="vrijdagMiddagDocent" required>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>
                        <p>Avond</p>
                        <p>18:00-21:00</p>
                    </th>
                    <td >
                        <div name="maandagAvondVak" th: ></div>
                        <select name="maandagAvondDocent" required>
                        </select>
                    </td>
                    <td>
                        <div name="dinsdagAvondVak"></div>
                        <select name="dinsdagAvondDocent" required>
                        </select>
                    </td>
                    <td>
                        <div name="woensdagAvondVak"></div>
                        <select name="woensdagAvondDocent" required>
                        </select>
                    </td>
                    <td>
                        <div name="donderdagAvondVak"></div>
                        <select name="donderdagAvondDocent" required>
                        </select>
                    </td>
                    <td>
                        <div name="vrijdagAvondVak"></div>
                        <select name="vrijdagAvondDocent" required>
                        </select>
                    </td>
                </tr>
            </table>

            <button id="button" type="button" class="btn btn-success"> Opslaan</button>
        </form>
    </div>


<!--end of HTML code-->
<!--start of testcode-->


<!--&lt;!&ndash;    een form met lijst vakken en dropdown voor elk teachers&ndash;&gt;-->
<!--    <form th:object="${teacherForm}" th:action="@{postTeacherToSubject}" method="post" id = "teacherForm">-->
<!--        <table class="table table-striped table table-hover" >-->
<!--            <thead>-->
<!--            <tr>-->
<!--&lt;!&ndash;                <th scope="col"></th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th th:each="scaleValue, scaleIndex : ${getTeachters}" scope="col">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label th:text="${scaleValue.scale}"></label>&ndash;&gt;-->
<!--&lt;!&ndash;                </th>&ndash;&gt;-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--&lt;!&ndash;            get method voor subjects/teachers?&ndash;&gt;-->
<!--            <tr th:each="subject, subjectIndex : ${selectedSubjectsList}">-->
<!--                <td>-->
<!--                    <label th:text="${subject.subjectName}"></label>-->
<!--                </td>-->
<!--                <td th:each="scaleValue, scaleIndex : ${getTeachters}">-->
<!--&lt;!&ndash;voorbeeld bibi&ndash;&gt;-->
<!--&lt;!&ndash;                    <select name="coordinator" id="coordinator" required>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="">Selecteer een coordinator</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option th:each="co: ${coordinators}" th:value="${co.id}" th:text="${co.username}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                    </select>&ndash;&gt;-->
<!--                    <select name="teacher" id="teacher" required>-->
<!--                    <option value="">Selecteer een docent</option>-->
<!--                    <option th:each="teacher: ${teachers}" th:value="${teacher.teacherName}" th:text="${teacher.teacherName}"></option>-->
<!--                    </select>-->
<!--&lt;!&ndash; voorbeeld Zafer                   <input type="radio"&ndash;&gt;-->
<!--&lt;!&ndash;                           th:field="${preferenceForm.preferenceRating[__${subjectIndex.index}__]}"&ndash;&gt;-->
<!--&lt;!&ndash;                           th:value="${scaleValue.scale}"&ndash;&gt;-->
<!--&lt;!&ndash;                           required/>&ndash;&gt;-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--        <br>-->
<!--        <input class="save" id="submitButton" type="submit" value="Bezetting opslaan">-->
<!--    </form>-->

<!--&lt;!&ndash;show subjects&ndash;&gt;-->

<!--    <div >-->
<!--        <div class="selectedSubjectList">Selecteer een of meerdere vakken:</div>-->
<!--        <form action="#" th:object="${subjects}" th:action="@{addTeacher}" method="post">-->
<!--            <input type="submit" th:onclick="" value="<" id="remove"/>-->
<!--            <select  id="selectedSubjectList" name="selectedSubjectList" required multiple="multiple" size="7" style="width: 250px">-->
<!--                <option th:each="subject: ${subjects}" th:value="${subject.subjectId}" th:text="${subject.subjectName}"></option>-->
<!--            </select>-->
<!--        </form>-->
<!--    </div>-->


<!--&lt;!&ndash;&lt;!&ndash; add teacher   &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;    <label>docent:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <select name="teacher" id="teacher" required>&ndash;&gt;-->
<!--&lt;!&ndash;        <option value="">Selecteer een docent</option>&ndash;&gt;-->
<!--&lt;!&ndash;        <option th:each="co: ${coordinators}" th:value="${co.id}" th:text="${co.username}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class = "select" align="center">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="allCohorts"></label>&ndash;&gt;-->
<!--&lt;!&ndash;        <div id="allCohorts" class="dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="dropbtn">Dropdown</button>&ndash;&gt;-->
<!--&lt;!&ndash;            <form>&ndash;&gt;-->
<!--&lt;!&ndash;            <select name="cohortName" multiple="multiple" size="7" style="width: 250px; height: 200px; border-color: lightgray">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:each="cohort: ${cohorts}" th:value="${cohort.cohortName}" th:text="${cohort.cohortName}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                </select>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="list">&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="submit" th:onclick="" value="Selecteer" id="lijstCohort"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--                    &lt;!&ndash;        <table id="allCohorts">&ndash;&gt;-->
<!--&lt;!&ndash;            <tr collspan="2">&ndash;&gt;-->
<!--&lt;!&ndash;                <td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <form action="#" th:object="${cohorts}" th:action="@{showSubjects}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                        <select name="cohortName" multiple="multiple" size="7" style="width: 250px; height: 200px; border-color: lightgray">&ndash;&gt;-->
<!--&lt;!&ndash;                            <option th:each="cohort: ${cohorts}" th:value="${cohort.cohortName}" th:text="${cohort.cohortName}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                        </select><br>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="list">&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="submit" th:onclick="" value="Selecteer" id="lijstCohort"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </form>&ndash;&gt;-->
<!--&lt;!&ndash;                </td>&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        </table>&ndash;&gt;-->


    </div>

</div>

<footer th:insert="~{footer :: footer}"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>