<!DOCTYPE html>
<html lang="en" >
      <html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/task.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


</head>

<body>
<div th:insert="~{navbar :: header}"></div>
    <form action="#" th:action="@{/saveTask/task}" th:object="${task}" method="post">

    <div class="opsomming">
        <div class="titel"><span th:field="*{titel}"></span></div>
        <div class="informatie"></div>
        <div class="buttons">
        <input type='checkbox' name='thing' value='valuable' id="thing"/><label for="thing"></label>
             <a href="#" class="btn btn-outline-succes btn sm">Bekijken</a>
             <a href="#" class="btn btn-outline-succes btn sm"><i class="far fa-heart"></i></a>
        </div>
    </div>
        <article class="tekst" th:field="*{beschrijving}"></article>
        <div id="Beschrijving"></div>

    </div>
    </form>
</body>
</html>
