<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/task.css}"/>
</head>

<body>
<div th:insert="~{navbar :: header}"></div>
    <form action="#" th:action="@{/saveTask/task}" th:object="${task}" method="post">

    <div class="opsomming">
        <div class="titel"><span th:field="*{titel}"></span></div>
        <div class="informatie"></div>
        <div class="buttons">
        <input type='checkbox' name='thing' value='valuable' id="thing"/><label for="thing"></label>

        </div>
    </div>
        <article class="tekst" th:field="*{beschrijving}"></article>
        <div id="Beschrijving"></div>

    </div>
    </form>
</body>
</html>
