<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Voorkeur opgeven</title>
</head>
<header th:insert="~{navbar :: header}"></header>

<body>
<div class="container">
    <br>
    <br>
    <br>
    <h1 class="text-center" > Voorkeur vakken</h1>
    <br>
    <p>Geef hieronder a.u.b uw voorkeur op(schaal 1-3)</p>
    <br>
    <form th:object="${preferenceForm}" th:action="@{postPreferences}" method="post" id = "preferenceForm">
        <table class="table table-striped table table-hover" >
            <thead>
            <tr>
                <th scope="col"></th>
                <th th:each="scaleValue, scaleIndex : ${preferenceScaleList}" scope="col">
                    <label th:text="${scaleValue.scale}"></label>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subject, subjectIndex : ${subjectsList}">
                <td>
                    <label th:text="${subject.subjectName}"></label>
                </td>
                <td th:each="scaleValue, scaleIndex : ${preferenceScaleList}">
                    <input type="radio"
                           th:field="${preferenceForm.preferenceRating[__${subjectIndex.index}__]}"
                           th:value="${scaleValue.scale}"
                           required/>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <input class="save" type="submit" value="Oplaan voorkeuren">
    </form>
    <br>
    <br>
</div>

<footer th:insert="~{footer :: footer}"></footer>

<script type="text/javascript" src="/js/voorkeur-check.js" th:src="@{/js/voorkeur-check.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>


</html>
