<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/incident.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/js/incident.js" th:src="@{/js/incident.js}"></script>
<script>
    $(function() {
        $( "#datepicker" ).datepicker({
            showWeek: true,
            firstDay: 1
        });
    });
</script>
<head>
    <meta charset="UTF-8">
    <title>Incident</title>
</head>
<header th:insert="~{navbar :: header}"></header>

<body>
<form action="#">
    <div class="container">
        <section id="header" class="jumbotron text-center">
            <h1>Uw incident</h1>
        </section>
        <section id="date">
            <p>Date：<input type="text" id="datepicker"></p>
        </section>

        <section id="incident">
            <table class="table">
                <tr>
                    <th>Select All </th>
                    <th>maandag </th>
                    <th>dinsdag </th>
                    <th>woensdag </th>
                    <th>donderdag </th>
                    <th>vrijdag </th>
                </tr>
                <tr>
                    <th>ochtend </th>
                    <td>maandagOchtend</td>
                    <td>dinsdagOchtend</td>
                    <td>woensdagOchtend</td>
                    <td>donderdagOchtend</td>
                    <td>vrijdagOchtend</td>

                </tr>
                <tr>
                    <th>middag </th>
                    <td>maandagMiddag</td>
                    <td>dinsdagMiddag</td>
                    <td>woensdagMiddag</td>
                    <td>donderdagMiddag</td>
                    <td>vrijdagMiddag</td>

                </tr>
                <tr>
                    <th>avond </th>
                    <td>maandagAvond</td>
                    <td>dinsdagAvond</td>
                    <td>woensdagAvond</td>
                    <td>donderdagAvond</td>
                    <td>vrijdagAvond</td>

                </tr>
            </table>
        </section>

        <section>
            <button id="button" type="button" class="btn btn-success">Submit</button>
        </section>

    </div>
    <footer th:insert="~{footer :: footer}"></footer>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
